spring:
  application:
    name: groupware-backend

  datasource:
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jwt:
    secret: ${JWT_SECRET}
    access-validation: ${ACCESS_VALIDATION}
    refresh-validation: ${REFRESH_VALIDATION}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true